{% extends 'base.html' %}


{% block title %}
Sing Up
{% endblock %}

{% block content %}
{% if message %}
<p class="text-center">{{ message }}</p>
{% endif %}
<div class="grid">
    <form method="POST" novalidate>
        {% csrf_token %}
        <div>
        {% for field in form %}
        <div class="form-group">
            <div class="form-label">{{field.label_tag}}</div>
            <div>{{field}}</div>
            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <br>
        <button class="btn btn-primary">Sign up</button>
        <br>
    </form>
</div>
<p class="text-center">Back to sign in form <a href="{% url 'signin' %}"><button class="btn btn-info">Sign in</button></a></p>
{% endblock %}